<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0" metadata-complete="true">
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Counter</servlet-name>
    <servlet-class>Counter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Counter</servlet-name>
    <url-pattern>/counter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PersistentCounter</servlet-name>
    <servlet-class>PersistentCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersistentCounter</servlet-name>
    <url-pattern>/persistentCounter</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetParametersHtml</servlet-name>
    <servlet-class>GetParametersHtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParametersHtml</servlet-name>
    <url-pattern>/getParametersHtml</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetParametersServlet</servlet-name>
    <servlet-class>GetParametersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetParametersServlet</servlet-name>
    <url-pattern>/getParametersServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUpForm</servlet-name>
    <servlet-class>SignUpForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpForm</servlet-name>
    <url-pattern>/signUpForm</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>SignInForm</servlet-name>
    <servlet-class>SignInForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInForm</servlet-name>
    <url-pattern>/signInForm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>

</web-app>